body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/* durante la vista de excritorio la imagen del menú no estará visible */
.img-menu{
    display: none;
}
.vista-movil{
    display: none;
}
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.nav-links{
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
}
.apps-google{
    width: 30px;
    margin-right: 15px;
    border-radius: 50%;
}
.apps-google:hover{
    background-color: #c8c2c2;
}
#acceder{
    background-color: blue;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 4px;
}
#acceder:hover{
    background-color: rgb(6, 6, 199);
}
.gmail:hover{
    border-bottom: solid 1px #000000;
}
.imagenes:hover{
border-bottom: solid 1px #000000;
}
/* main */
.contenedor-imagen-google{
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.busqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 142px;
}
.cuadro-busqueda{
    width: 580px;
    height: 46px;
    border: solid 1px #666666;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}
#input-search{
    width: 70%;
    outline: none;
    border: none;
}
.iconos-input-busqueda{
    width:25px;
}
.accesibilidad{
    display: flex;
}
.botones{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.botones button{
    padding: 7px;
    background-color: #f2f2f2;
    border: solid 1px transparent;
    border-radius: 5px;
    border: solid 1px #6666666a;
}
.botones a{
    text-decoration: none;
    color: #000000;
}
/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.pais{
    padding: 0px 20px;
    border-bottom: solid 1px #6666666a;
}
.opciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}
.footer-link{
    text-decoration: none;
    margin: 10px;
    color: #000000;
    border-bottom: solid 1px transparent;
}
.footer-link:hover{
    border-bottom: solid 1px #000000;
}

/* vista móvil */
@media (max-width: 768px) {
    .menu{
        display: flex;
        align-items: center;
    }
    .img-menu{
        display: block;
        width: 30px;
        margin-right: 10px;
    }
    .vista-movil{
        display: block;
    }
    .vista-ordenador{
        display: none;
    }
    /* input de busqueda */
    .busqueda{
        width: 95%;
        margin: 0 auto;
        position: relative;
        margin-top: 20px;
    }
    .cuadro-busqueda{
        position: absolute;
        top: 0;
        width: 90%;
    }
    .accesibilidad{
        margin: 5px;
    }
    .botones{
        display: none;
    }
    /* footerc */
    .opciones{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
    }
    .sobre-google{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer{
        min-height: 22vh;
    }
}
@media (max-width: 922px) {
    .opciones{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .contenedor-imagen-google{
        height: 140px;
    }
    .imagen-google{
        display: flex;
        justify-content: center;
    }
    #logo{
        width: 50%;
    }
    footer{
        position: absolute;
        min-height: 22vh;
    }
}